.agendaContainer {
  border: 1px solid var(--color-primary);
  border-radius: 14px;
  min-width: clamp(300px, 100%, 450px);
  height: fit-content;
  margin: var(--size-md);
  padding: var(--size-md);
}

.agendaContainer > h5 {
  color: var(--color-primary);
  margin-block-end: var(--size-xl);
}

.agendaContent > *:not(:last-child) {
  margin-block-end: var(--size-md);
  padding-block-end: var(--size-md);
  border-bottom: 1px solid rgb(214, 214, 214);
}

.agendaItemHead > div:last-child {
  font-size: 0.8em;
}

.agendaItem > *:not(:last-child) {
  margin-block-end: var(--size-sm);
}

.agendaItem > * {
  display: flex;
  justify-content: space-between;
}

.agendaItemBand > div {
  display: flex;
  gap: var(--size-xs);
}

.genre {
  font-size: 0.7em;
  background-color: rgb(206, 206, 206);
  padding: var(--size-2xs);
  border-radius: 8px;
  width: max-content;
}
